<!-- <app-survey-comp></app-survey-comp> -->

<!-- <app-header></app-header> -->
<div class="main">

  <h3 id="heading"> Welcome to survey app </h3>

  <nav>
    <ul>
      <li> <a routerLink="/add-survey" routerLinkActive="active" ariaCurrentWhenActive="page">Click here </a> To add a new survey</li>
      <li><a routerLink="/survey" routerLinkActive="active" ariaCurrentWhenActive="page">Click here</a> To view take survey</li>
    </ul>
  </nav>
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>

</div>
